[submodule "Dependencies/src/boost"]
	path = Dependencies/src/boost
	url = https://github.com/boostorg/boost.git
[submodule "Dependencies/src/cppunit"]
	path = Dependencies/src/cppunit
	url = https://anongit.freedesktop.org/git/libreoffice/cppunit.git
[submodule "Dependencies/src/freetype2"]
	path = Dependencies/src/freetype2
	url = http://git.savannah.nongnu.org/r/freetype/freetype2.git
[submodule "Dependencies/src/glsl-optimizer"]
	path = Dependencies/src/glsl-optimizer
	url = https://github.com/aras-p/glsl-optimizer.git
[submodule "Dependencies/src/hlsl2glslfork"]
	path = Dependencies/src/hlsl2glslfork
	url = https://github.com/aras-p/hlsl2glslfork.git
[submodule "Dependencies/src/libpng"]
	path = Dependencies/src/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "Dependencies/src/LibRaw"]
	path = Dependencies/src/LibRaw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "Dependencies/src/libwebp"]
	path = Dependencies/src/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "Dependencies/src/nedmalloc"]
	path = Dependencies/src/nedmalloc
	url = https://github.com/ned14/nedmalloc.git
[submodule "ogre"]
	path = ogre
	url = https://github.com/OGRECave/ogre.git
